* {
  padding: 0px;
  margin: 0px;
}

.w-bg {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(26, 23, 23),
      rgba(12, 12, 12, 0)
    ),
    url(./img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.container-fluid {
  width: 80%;
  margin: auto;
}
.wellcome-area {
  margin-left: 6%;
  width: 40%;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.wellcome-area h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: bold;
  margin-bottom: 10px;
}
.wellcome-area p {
  width: 80%;
  color: white;
  font-weight: 500px;
  margin-bottom: 10px;
}
span {
  width: 31%;
  background-color: rgba(240, 199, 17, 0.842);
  padding: 15px 10px;
  text-align: center;
  border-radius: 5%;
}

span a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: 0.1s;
}
span:hover {
  background: linear-gradient(rgba(43, 40, 38, 0.473), rgba(10, 10, 10, 0.651));
}

/***end***/
.article-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.article-1 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.article-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 35%;
  margin-left: 20px;
  margin-right: 20px;
}

.article-2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
/**end**/
.help-section {
  height: 100vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.help-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.help-txt h1 {
  width: 50%;
  font-size: 40px;
}
.help-txt p {
  width: 60%;
}
.help-details {
  width: 45%;
  gap: 20px;
  display: flex;
  justify-content: center;
  margin: 30px 10px;
}
.intro-details {
  width: 60%;
}
.help-details img {
  width: 50px;
  height: 50px;
}
/**end**/
.img-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.img-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.img-container img {
  width: 32%;
}
/**end**/
.donation-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}
.donation-section h3 {
  width: 60%;
  font-size: 40px;
}
.donation-section p {
 
}
.card-container {
  width: 100%;
  display: flex;
}
.donation-card {
  margin: 10px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.329);
}

.donation-card > img {
  width: 100%;
}
.card-details {
  padding: 25px;
}
.card-details h6,
p,
a {
  margin: 15px 0;
}

footer {
  text-align: center;
  background-color: rgb(31, 27, 27);
  padding: 2rem;
}
footer h5 {
  font-size: 2rem;
  color: rgba(248, 14, 14, 0.795);
  margin-top: 10px;
  margin-bottom: 1.6rem;
}
footer > p {
  color: rgba(255, 255, 255, 0.623);
}
