* {
  padding: 0px;
  margin: 0px;
}

.w-bg {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(95, 79, 79, 0.596),rgba(15, 12, 14, 0.562)), url(./img/rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.container-fluid {
  width: 900px;
  margin: auto;
}
.wellcome-area {
  width: 50%;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.wellcome-area h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: bold;
  margin-bottom: 10px;
}
.wellcome-area p {
  width: 80%;
  color: white;
  font-weight: 500px;
  margin-bottom: 10px;
}
.wellcome-area span {
  width: 32%;
  background-color: rgba(240, 199, 17, 0.842);
  padding: 15px 0;
  text-align: center;
  border-radius: 5%;
}
span a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}
/***end***/
